* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,#FF6950, #FF3050);
    font-family: 'Open Sans';
}

.logo {
    height: 77.98px;
    width: 90px;
}

.container {
    background: linear-gradient(to right,#FF6950, #FF3050);
    width: 100%;
    max-width: 1500px;
    height: 150px;
    /* background: #ffffff; */
    margin: auto;
/*Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    width: 100%;
    padding: 20px;
    height: 150px;
/*Flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav {
    list-style-type: none;
    width: 50%;
/*Flex*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    border: 1px solid #ffffff;
    margin-left: 30px;
    margin-right: 30px;
    width: 200px; 
    height: 55px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-family: 'Open Sans';
/*Flex*/
    flex-grow: 1;
}

main {
    /* background-color: yellowgreen; */
    padding: 10px;
/*Flex*/
    flex: 1 1 100%;
}

main .dinamic {
     margin-bottom: 20px;
     padding-bottom: 20px;
/*Flex*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

main section .bienvenida {
    flex: 0 0 382px;
}

main div img {
    height: 80px;
    width: 80px;
}

li a, .dropbtn {
    color: white;
    text-align: center;
/*    padding: 14px 16px; Desacomoda el desplegable a forma hotizontal*/
    text-decoration: none;
}

li a:hover, dropdown:hover .dropbtn {
    background-color: white;
    color: #FF3050;
}

/*cajas contenedoras de texto para tipos de pokemon*/
.dropdown-content {
    display: none;
    min-width: 160px;
    skyblue;
    z-index: 1;
    position: absolute; /*Hizo que el menú multinivel apareciera vertical*/
}

/*texto para tipos de pokemon*/
.dropdown-content a {
    background-color: #ffffff;
    color:#FF3050;
    border-radius: 0px;
    text-decoration: none;
    display: block; /*Hace de forma vertical el acomodo desplegable*/
    text-align: center;
}

.dropdown-content a:hover {
    color: #ffffff;
    background-color:#FF6950;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    width: 100%;
    padding: 20px;
    background: red;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
}

img {
    width: 160px;
    height: 160px;   
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding: 0;
    }
    header img {
     margin: 20px 0;   
    }
    header nav {
      width: 100%;  
    }
}
/* Modal Ranking */
.modal-container{
   display: none; 
   position: fixed;
   z-index: 1;
   overflow: auto;
   left: 20vw;
   top: 20vh;
   width: 60%;
   height: 60%;
   background: rgb(238, 235, 235);
}
.contenido-modal{
   position: relative;
   background-color: rgb(214, 210, 210);
   margin: auto;
   width: 30%;
   box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}
.close{
   color: rgb(3, 3, 3);
   font-size: 30px;
   font-weight: bold;
}
.close:hover{
   color: rgb(224, 30, 30);
   text-decoration: none;
   cursor: pointer;
}
/* Modal Información Pokemon */
.modalPokemon{
   display: none; 
   position: fixed;
   z-index: 1;
   overflow: auto;
   left: 20vw;
   top: 20vh;
   width: 20%;
   height: 60%;
   background: rgb(238, 235, 235);
}
.contenido-modal-pokemon{
    position: relative;
   background-color: rgb(214, 210, 210);
   margin: auto;
   width: 80%;
   box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}
.closePokemon{
    color: rgb(3, 3, 3);
    font-size: 30px;
    font-weight: bold;
 }
 .closePokemon:hover{
    color: rgb(224, 30, 30);
    text-decoration: none;
    cursor: pointer;
 }

/*
.button {
    display: block;
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-left: 30px;
    margin-right: 30px;
    width: 200px; 
    height: 55px;
    border-radius: 30px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: white;
}*/

